body {
    background-color: black;
}

/*navigation menu*/

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

li {
    float: left;
    border-right: 2px solid white;
}

li:last-child {
    border-right: none;
}

li:hover {
    background-color: grey;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 5px;
    text-decoration: none;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
}

.banner {
    margin-left: auto;
    margin-right: auto;
    display: block;
    max-width: 100%;
    max-height:200px;
}

h1 {
    font-family:'Courier New', Courier, monospace;
    font-weight: bolder;
    text-transform: uppercase;
    text-align: center;
    color:white;
} 

p {
    display: block;
    color: white;
    text-align: center;
    font-size: larger;
    font-family:'Courier New', Courier, monospace;
}

.text {
    max-width: 100%;
    border: 10px;
    padding: 10px;
    margin: 10px;
}

.hyperlink {
    color:white;
    text-decoration:none;
    font-family: 'Courier New', Courier, monospace;
}

/* Collection Styling */

.collection-image {
    height: 100px;
    width: 100px;
    border-radius: 100px;
}

.collection-text {
    text-align: center;
    color: white;
    font-family: 'Courier New', Courier, monospace;
}

.collection-image:hover {
    border-radius: 90px;
    border-width: 2px;
    border-color: white;
    border-style: solid;
}

.collection {
    max-width:max-content;
    height:fit-content;
    border: auto;
    padding: auto;
    margin: auto;
}

 .column {
    float: left;
    width: 100px;
    border:auto;
    margin: auto;
    padding: auto;
    padding-left: 25px;
    padding-right: 25px;
  }
  
  .row::after {
    content: "";
    clear: both;
    display: table;
  } 

/* Meet the team styling */

.team {
    max-width: max-content;
    border: auto;
    padding: auto;
    margin: auto;
}

.team-title {
    color: white;
    font-weight: bolder;
    font-family: 'Courier New', Courier, monospace;
    text-transform: capitalize;
    font-size: large;
}

.team-text {
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-size: medium;
    float: right;
}

.team-image {
    display: block;
    height: 50px;
    width: 50px;
    margin: 5px;
    padding: 2px;
    border-width: 2px;
    border-radius: 50px;
    border-color: white;
    border-style: solid;
    float: left;
}

  .team-column {
      float: left;
      width: 50%;
      border: auto;
      margin: auto;
      padding: auto;
  }

  .team-row::after {
    content: "";
    clear: both;
    display: table;
  }

  .social {
    max-width: max-content;
    border: auto;
    padding: auto;
    margin: auto;
    clear: both;
  }

  .social-column {
      max-width: max-content;
      border: auto;
      padding: auto;
      margin: auto;
      float: left;
  }

  .social-row::after {
    content: "";
    clear: both;
    display: table;
  } 

  .social-image {
      height:30px;
      width: 30px;
      padding: 5px;
      border-radius: 50px;
  }
